# Игнорируем каталоги для сборки
target/
build/

# Игнорируем директории зависимостей для Maven и Gradle
*.iml
*.idea
.gradle
.idea/

# Игнорируем конфигурационные файлы IDE (например, IntelliJ IDEA)
.idea/*
!.idea/*.iml

# Игнорируем файлы журналов и временные файлы
*.log
*.swp
*.bak
*~

# Игнорируем файлы, связанные с ОС
.DS_Store
Thumbs.db

# Игнорируем локальные настройки Maven
.mvn/
.settings/

# Игнорируем файлы зависимости Gradle
.gradle/

# Для проекта с использованием Docker
.docker/

# Игнорируем файлы, которые могут быть созданы IDE или сборщиками
*.class
*.jar
*.war
*.ear

# Если проект использует .env файл для хранения конфиденциальных данных
.env

# Игнорируем временные файлы операционных систем
.vscode/

# Операционные системные файлы
*.suo
*.user
*.userosscache
*.sln

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.nar
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

docker-compose.yml